body {
 background-color: #00e4ff;
 font-family: "Times New Roman", Times, serif;
 color: black;
 margin: 10px;
}
h1 {
 font-size: 32px;
 font-weight: bold;
 margin-bottom: 10px;
}
h2 {
 font-size: 24px;
 font-weight: bold;
 margin-bottom: 5px;
}
h3 {
 font-size: 20px;
 margin-top: 30px;
}
p {
 margin-bottom: 60px;
}
